<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <title>{% block title %}Unb Chamadas{% endblock %}</title>
</head>
<body>
    <!-- base header to all pages -->
    <header>
        <div class="header">
            <nav>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                {% endif %}
            </nav>
            <div class="user-info">
                <p>{{ user.nome }}</p>
            </div>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- define the content block to be overide when extends -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>